<div class="center jumbotron">
  <h1>Welcome to the Apache Solr App</h1>

  <h2>
    This is the home page for <a href="http://lucene.apache.org/solr/">Apache Solr</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

