<footer class="footer">

  <nav>
    <ul>
      <li><%= link_to "About",   '/static_pages/about' %></li>
      <li><%= link_to "Contact", '/static_pages/contact' %></li>
      <li><a href="http://lucene.apache.org/solr/news.html">News</a></li>
    </ul>
  </nav>
 
  Copyright © 2014 The Apache Software Foundation, Licensed under the Apache License, Version 2.0. Privacy Policy
Apache and the Apache feather logo are trademarks of The Apache Software Foundation. Apache Lucene, Apache Solr and their respective logos are trademarks of the Apache Software Foundation. Please see the Apache Trademark Policy for more information. All non-Apache logos are the trademarks of their respective owners.

</footer>